@import "../../variables";

.content {
  grid-area: content;
  background-color: $back-color;
  border-radius: 5px;
}


.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  width: 220px;
  margin: 10px;
  border-radius: 5px;
}

.person_info {
  width: 200px;
  margin: 10px 0 0 100px;

  a {
    font-size: 1.8em;

    &:hover {
      border-bottom: 1.5px solid black;
    }

  }

  .person_main_info {
    margin-top: 50px;

    span {
      display: block;
      font-size: 1.1em;
      margin-bottom: 5px;
    }
  }
}
