@import "../../variables";

.header {
  grid-area: header;
  background: linear-gradient(#cec4ff, $back-color);
  border-radius: 5px;

  img {
    float: left;
    width: 55px;
    margin-left: 70px;

    &:hover {
      border-bottom: 1.5px solid black;
      transition: 0.1s ease;
    }
  }

}


.header__auth {
  float: right;
  margin-top: 20px;
  margin-right: 70px;

  a {
    margin-right: 20px;
    font-size: 1.4em;
    color: #232222;

    &:hover {
      border-bottom: 1.5px solid black;
      transition: 0.1s ease;
    }
  }
}