@import "../../variables";

.header {
  grid-area: header;
  background: linear-gradient(#cec4ff, $back-color);
  border-radius: 5px;
}

.app_logo {
  float: left;
  width: 55px;
  margin-left: 70px;

  &:hover {
    border-bottom: 1.5px solid black;
    transition: 0.1s ease;
  }
}

.header__auth {
  float: right;
  margin-top: 20px;
  margin-right: 70px;

  a {
    margin-right: 20px;
    font-size: 1.4em;
    color: #232222;

    &:hover {
      border-bottom: 1.5px solid black;
      transition: 0.1s ease;
    }
  }
}

@media (max-width: 365px) {
  .header__auth {
    margin-right: 10px;

    a {
      font-size: 1.1em;
      margin-right: 10px;
    }
  }
  .app_logo {
    width: 45px;
    margin-left: 20px;
    margin-top: 5px;
  }

}