@import "../../../variables";


.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1.5px solid black;
  border-radius: 50%;
}

.person_info {
  width: 200px;
  margin: 10px 0 0 100px;

  a {
    font-size: 1.8em;

    &:hover {
      border-bottom: 1.5px solid black;
    }

  }

  .person_main_info {
    margin-top: 50px;

    .person_main_info_item {
      display: block;
      font-size: 1.1em;
      margin-bottom: 5px;
      span{
        font-size: 1.15em;
        color: #3b3b3b;
      }
    }
  }
}
