@import "../../variables";

.news{
  h1{
    margin-left: 40px;
    margin-top: 20px;
    --animate-duration: 1.5s;
    color: #282727;
  }
}

.news_list{
  --animate-duration: 2s;
}

.news_post{
  display: flex;
  justify-content: space-around;
  border: 2px solid $main-color;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  width: 90%;
  .left_part_news{
    display: grid;
    grid-template-rows: 0.5fr 6fr 0.5fr;
    p{
      margin-top: 10px;
    }
    .likes {
      margin-top: 10px;
    }
  }

  img{
    border-radius: 10px;
    border: 3px solid black;
    width: 400px;
    height: 255px;
    margin-left: 20px;
  }
}

.like_was_add{
  color: #FDD641;
}

